span{
    width: 500px;
    height: 200px;
    background: yellow;
    display: inline;
    
}
div{
    display: inline;
}
p{
    display: inline-block;
    outline: solid 1px green;
    margin: 100px 0;
}
img{
    display: block;
}
#a{
    color: red;
    background: transparent;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 0;
}